# Configuration file example for lg.py
# Adapt and copy to lg.cfg

WEBSITE_TITLE="Bird-LG / Looking Glass"
DEBUG = False
LOG_FILE="/var/log/lg.log"
LOG_LEVEL="WARNING"
# Keep log history indefinitely by default.
LOG_NUM_DAYS=0

DOMAIN = "tetaneutral.net"

# Used to optionally restrict access to lgproxy based on a shared secret.
# Empty string or unset = no shared secret is used to run queries on lgproxies.
SHARED_SECRET="ThisTokenIsNotSecret"

BIND_IP = "0.0.0.0"
BIND_PORT = 5000

PROXY = {
		"gw": 5000,
		"h3": 5000,
	}

# Used for bgpmap
ROUTER_IP = {
        "gw" : [ "91.224.148.2", "2a01:6600:8000::175" ],
        "h3" : [ "91.224.148.3", "2a01:6600:8000::131" ]
}

AS_NUMBER = {
    "gw" : "197422",
    "h3" : "197422"
}

#WHOIS_SERVER = "whois.foo.bar"

# DNS zone to query for ASN -> name mapping
ASN_ZONE = "asn.cymru.com"

# Used for secure session storage, change this
SESSION_KEY = '\xd77\xf9\xfa\xc2\xb5\xcd\x85)`+H\x9d\xeeW\\%\xbe/\xbaT\x89\xe8\xa7'

# specifies an alternative start page template for the "/" route.
# If not specified default action is redirection to /summary/%s/ipv4.
# DEFAULT_TEMPLATE="/etc/bird-lg/index.html"