[project]
	description = bird looking glass
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mehdi ABAAKOUK (sileht)
[access "refs/for/refs/*"]
	read = group user/Mehdi ABAAKOUK (sileht)
	push = group user/Mehdi ABAAKOUK (sileht)
	label-Code-Review = -2..+2 group user/Mehdi ABAAKOUK (sileht)
	label-Verified = -1..+1 group user/Mehdi ABAAKOUK (sileht)
	rebase = group user/Mehdi ABAAKOUK (sileht)
	removeReviewer = group user/Mehdi ABAAKOUK (sileht)
	submit = group user/Mehdi ABAAKOUK (sileht)
[access "refs/heads/*"]
	read = group user/Mehdi ABAAKOUK (sileht)
	create = group user/Mehdi ABAAKOUK (sileht)
	push = +force group user/Mehdi ABAAKOUK (sileht)
	pushMerge = group user/Mehdi ABAAKOUK (sileht)
[access "refs/tags/*"]
	push = +force group user/Mehdi ABAAKOUK (sileht)
	pushTag = group user/Mehdi ABAAKOUK (sileht)
	pushSignedTag = group user/Mehdi ABAAKOUK (sileht)
