{% extends "layout.html" %}
{% block body %}
{% for host in summary %}
<div class="summary">
<h2>{{host}}/{{session.proto}}: {{command}}</h2>
<table>
	<tr><th>Name</th><th>protocol</th><th>table</th><th>state</th><th>since</th><th>info</th></tr>
	{% for row in summary[host] %}
	<tr class="{{ loop.cycle('odd', 'even') }}"><td><a href="/detail/{{host}}/{{session.proto}}?q={{row.name}}">{{row.name}}</a></td><td>{{row.proto}}</td><td>{{row.table}}</td><td>{{row.state}}</td><td>{{row.since}}</td><td>{{row.info}}</td></tr>
	{% else %}
	<tr><td>{{summary[host].error}}</td><td></td><td></td><td></td><td></td><td></td></tr>
	{% endfor %}
</table>
</div>
{% endfor %}
{% endblock %}
